{% extends './admin_pages_base.html' %}

{% block profile_name_and_role %}
<span class="highlight" style="font-size: .7em;">
    {{ current_user }},&nbsp;
    {{ profile.profile_role }}
</span>
{% endblock profile_name_and_role %}

{% block profile_dropdown_links %}
<a href="{% url 'admin_pages:manage_user_profile' %}">User Profile</a>
<a href="{% url 'users:update_user' %}">User Account</a>
{% endblock profile_dropdown_links %}

{% block content %}

<style>
    .white-border :hover { border: 1px solid white; }
</style>

<div class="text-center">
    <p style="margin-top: 1%">Welcome back, {{ current_user }}.</p>
</div>

<div class="admin-menu shadow">
    <div class="typewriter">
        <div class="text-mono title" style="margin-left: 5%; font-weight: 600;">
            ./main_menu
        </div>
    </div>
    <div class="collapse-container shadow" style="color: #202223; padding-left: 26%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="2.7em" height="2.7em" fill="currentColor" class="bi bi-bar-chart-steps" viewBox="0 0 16 16">
            <path d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0zM2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
        </svg>
        <span class="admin-title" style="font-size: 1.2em;">&nbsp;Metrics</span>
    </div>
    <div class="expand-content">
        Nothing to see here!
    </div>
    <div class="collapse-container shadow" style="color: #202223; padding-left: 26%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="2.7em" height="2.7em" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
            <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
        </svg>
        <span class="admin-title" style="font-size: 1.2em;">&nbsp;Configuration</span>
    </div>
    <div class="expand-content">
        <a class="admin-menu-item" href="{% url 'admin_pages:manage_site_look' %}">
            <svg class="bi bi-intersect" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12 4v6.5a1.5 1.5 0 0 1-1.5 1.5H4V5.5A1.5 1.5 0 0 1 5.5 4H12z"/>
                <path fill-rule="evenodd" d="M14.5 5h-9a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-9-1A1.5 1.5 0 0 0 4 5.5v9A1.5 1.5 0 0 0 5.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 4h-9z"/>
                <path fill-rule="evenodd" d="M10.5 1h-9a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-9-1A1.5 1.5 0 0 0 0 1.5v9A1.5 1.5 0 0 0 1.5 12h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 10.5 0h-9z"/>
            </svg>
            <span class="admin-title" style="font-size: 1.2em;">Site Look</span>
        </a>
        <a class="admin-menu-item" href="{% url 'admin_pages:manage_users' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
              </svg>
            <span class="admin-title" style="font-size: 1.2em;">Users</span>
        </a>
    </div>

</div>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script>
    var collapse = document.getElementsByClassName("collapse-container");

    for (let i = 0; i < collapse.length; i++) {
        collapse[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            }
            else {
                content.style.display = "block";
            }
        });
    }
</script>
{% endblock content %}